@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a  class="btn btn-secondary my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Manage/Index" 
                title="Manage" style="margin-right: 10px">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login" method="post">
                <button type="submit" class="btn btn-secondary my-2 my-sm-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-secondary my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Register" style="margin-right: 10px">Register</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-secondary my-2 my-sm-0" asp-area="Identity" asp-page="/Account/Login" style="margin-left: 10px">Login</a>
        </li>
    }
</ul>
