@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("img/index.png");
        background-size: cover; 
        background-position: center; 
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>